<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
    </div>
    
    <div id='country'></div>

<script src="https://unpkg.com/covid-charts/index.js"></script>
<script>
  createChart(document.querySelector("#country"), { country: "Egypt" });
</script>


    {{>footer}}
</body>

</html>